footer {
    margin-top: auto;
}

.reviews__footer {
   height: 132px; 
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contaier__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews-footer__container {
    padding-bottom: 38px;
    padding-top: 32px;
}

.footer__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.network__list {
    margin-right: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.network__item {
    margin-right: 10px;
}

.network__item:last-child {
    margin-right: 0;
}

.network__item:first-child {
    margin-left: 0;
}

.network__symbol:last-child {
    margin-right: 0;
}

.network__link {
    display: block;
    width: 36px;
    height: 36px;
    opacity: 0.4;
    transition: 1s all;
}

.network__link:hover {
    opacity: 1;
}

.network__link-tg {
    background: url('../../img/css_sprites.png') -10px -66px;
}

.network__link-vk {
    background: url('../../img/css_sprites.png') -66px -66px;
}

.network__link-fb {
    background: url('../../img/css_sprites.png') -10px -10px;
}

.network__link-in {
    background: url('../../img/css_sprites.png') -66px -10px;
}







