.header {
    height: 120px;
    position: relative;
    margin-bottom: 86px;
}

.logo {
    display: block;
    position: absolute;
    top: 29px;
    left: 0;

}

.logo__img {
    width: 85px;
    height: 36px;
}

.menu {
    position: absolute;
    top: 40px;
    left: 173px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 59px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__link {
    font-size: 14px;
}

.menu__link:hover {
    color: #890A0C;
}

.contacts {
    position: absolute;
    right: 0;
    font-style: normal;
    text-align: right;
    line-height: 0px;
}

.contacts__header {
    top: 46px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    /* margin-bottom: 4px; */
    letter-spacing: 0.8px;
}

.contacts__dropdown-title {
    color: #98A4A8;
    font-size: 13px;
    margin: 21px 0px 0px;
    letter-spacing: 0.8px;
}

.contacts__dropdown-title:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}