.header {
    height: 75.14px;
    position: relative;
    margin-bottom: 120.86px;
}

.logo {
    display: block;
    position: absolute;
    top: 29px;
    left: 0;
}

.logo__img {
    width: 85px;
    height: 36px;
}

.menu {
    position: absolute;
    top: 42px;
    left: 164px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 54px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__link {
    font-size: 14px;
    line-height: 16.41px;
}

.menu__link:hover {
    color: #890A0C;
}

.contacts {
    position: absolute;
    right: 0;
    font-style: normal;
    text-align: right;
    line-height: 0px;
}

.contacts__header {
    top: 26.64px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    line-height: 30.47px;
    letter-spacing: normal;
}

.contacts__dropdown-title {
    color: #98A4A8;
    font-size: 13px;
    line-height: 20px;
    margin: 2px 0px 0px;
    letter-spacing: normal;
}

.contacts__dropdown-title:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}