.hello {
    width: 511px;
    margin-bottom: 246px;
}

.hello__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 99.38px;
    margin-bottom: 27.5px;
    letter-spacing: normal;
}

.hello__subtitle {
    font-size: 18px;
    line-height: 20px;
    color: white;
    margin-bottom: 33.5px;
    letter-spacing: normal;
}