.hello {
    width: 550px;
    margin-bottom: 265px;
}

.hello__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 24px;
    letter-spacing: 2.6px;
}

.hello__subtitle {
    font-size: 18px;
    color: white;
    margin-bottom: 33.5px;
    letter-spacing: 0.6px;
}




