.offers {
    margin-bottom: 127px;
}

.offers__item {
    display: inline-block;
    width: 362px;
    height: 100%;
    background: white;
    min-height: 449px;
    border-radius: 6px;
    margin-right: 22.8px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__img {
    width: 100%;
}

.offers__content {
    padding: 22px;
    color: black;
}

.offers__title {
    font-size: 24px;
    line-height: 28.13px;
    font-weight: bold;
    margin-bottom: 21px;
}

.offers__feature,
.offers__feature-img,
.offers__feature-text {
    display: inline-block;
}

.offers__feature {
    margin-right: 28px;
}

.offers__feature-text {
    font-size: 16px;
    line-height: 18.75px;
    color: #666;
    letter-spacing: normal;
}

.offers__feature-img {
    margin-right: 9px;
    vertical-align: middle;
}

.offers__features {
    margin-bottom: 23.5px;
}

.offers__text {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: normal;
    margin-bottom: 24.5px;
}
