.offers {
    margin-top: 246px;
    margin-bottom: 127px;
    display: flex;
}

.offer {
    background: white;
    min-height: 449px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.offers__list {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.offer__item {
    width: calc(100% / 3 - 16px);
}

.offer__item:last-child {
    margin-right: 0;
}

.offer__img {
    width: 100%;
}

.offer__content {
    font-size: 14px;
    line-height: 21px;
    padding: 26px;
    color: black;
    margin-top: 19px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.offer__title {
    font-size: 24px;
    line-height: 28.13px;
    font-weight: bold;
    margin-bottom: 21px;
}

.offer__feature {
    margin-right: 28px;
    margin-bottom: 23.5px;
    display: inline-flex;
    align-items: center;
}

.offer__feature-text {
    font-size: 16px;
    line-height: 18.75px;
    color: #666;
}

.offer__feature-img {
    margin-right: 9px;
}

.offer__features {
    display: flex;
    justify-content: flex-start;
}


