.offers {
    margin-bottom: 137px;
}

.offers__item {
    display: inline-block;
    width: 383px;
    height: 480px;
    background: white;
    min-height: 420px;
    border-radius: 6px;
    margin-right: 27px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__img {
    width: 100%;
    margin-bottom: 20px;
}

.offers__content {
    padding: 22px;
    padding-top: 17px;
    padding-bottom: 26px;;
    color: black;
}

.offers__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 26px;
}

.offers__feature,
.offers__feature-img,
.offers__feature-text {
    display: inline-block;
}

.offers__feature {
    margin-right: 11px;
}

.offers__feature-text {
    font-size: 16px;
    line-height: 19px;
    color: #666;
    letter-spacing: 0.8px;
    margin-right: 10px;
}

.offers__feature-img {
    margin-right: 8px;
    margin-left: 6px;
    vertical-align: middle;
}

.offers__features {
    margin-bottom: 25px;
}

.offers__text {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
    margin-bottom: 29px;
}



