.contacts {
    font-style: normal;
    text-align: right;
    line-height: 0px;
}

.contacts__header {
    top: 26.64px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    line-height: 30.47px;
}

.contacts__dropdown-title {
    color: #98A4A8;
    font-size: 13px;
    line-height: 20px;
    margin-top: 2px;
    transition: 2s all;
}

.contacts__workhours:hover .contacts__dropdown-title {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.contacts__info {
    color: white;
    font-size: 11px;
    line-height: 20px;
    margin-top: 13.14px;
}





 .contacts__workhours {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 55%;
}

.dropdown__menu {
    width: 160px;
    background: #C9CCCC;
    border: none;
    padding: 15px 19px 8px;
    position: absolute;
    margin-top: 7px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 6s;
    right: -999px;
    top: 100%
}

.dropdown__menu:before {
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    top: -15px;
    width: 100px;

}

.contacts__workhours:hover .dropdown__menu {
    opacity: 1;
    right: 0;
}

.triangle {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    transform: rotate(34deg) skew(-18deg);
    background: #C8CCCC;
    border: transparent;
    top: -8px;
    left: 99px;
}





.dropdown__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown__hours {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
    font-weight: bold;
}

.dropdown__hours--work {
    font-weight: 600;
}