.title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42.19px;
    color: white;
    margin-bottom: 51px;
}

.title--fire {
    position: relative;
    letter-spacing: normal;
}

.title--fire:after {
    content: "";
    background: url(../../img/flame.png) no-repeat;
    margin-left: 12px;
    width: 21px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.title--news {
    letter-spacing: normal;
}

.title--dark {
    color: black;
    margin-bottom: 55px;
}